version: "3.7"
services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
     - ./nginx.conf:/etc/nginx/conf.d/default.conf
     - /etc/letsencrypt/:/etc/letsencrypt/
    # - /var/log/nginx/host.access.log:/var/log/nginx/host.access.log
    ports:
     - 80:80
     - 443:443
     - 1317:1317
    networks:
      - mbcore-network
  validator:
    image: gordon77/mbcorecrnode:latest
    container_name: validator
    command: "mbcorecrd start"
    restart: always
    volumes:
      - validator_volume:/root/.mbcorecr
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
     - mbcore-network
  sentery:
    image: gordon77/mbcorecrnode:latest
    container_name: sentery
    command: "mbcorecrd start \
              --p2p.persistent_peers {{ validator_id }}@validator:{{ validator_node.p2p_port }} \
              --p2p.private_peer_ids {{ validator_id }} \
              --p2p.unconditional_peer_ids {{ validator_id }}"
    restart: always
    volumes:
      - sentery_volume:/root/.mbcorecr
      - /etc/letsencrypt/:/etc/letsencrypt/
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ sentery_node.p2p_port }}:{{ sentery_node.p2p_port }}"
      - "{{ sentery_node.rpc_port }}:{{ sentery_node.rpc_port }}"
    networks:
     - mbcore-network

#  seed:
#    image: gordon77/mbcorecrnode:latest
#    container_name: seed
#    command: "mbcorecrd start \
#              --p2p.persistent_peers {{ sentery_id }}@sentery:{{ sentery_node.p2p_port }} \
#              --p2p.unconditional_peer_ids {{ sentery_id }}"
#    restart: always
#    volumes:
#      - seed_volume:/root/.mbcorecr
#      - /etc/timezone:/etc/timezone:ro
#      - /etc/localtime:/etc/localtime:ro
#    ports:
#      - "{{ seed_node.tcp_port }}:{{ seed_node.tcp_port }}"

volumes:
  validator_volume:
    external: true
  sentery_volume:
    external: true
#  seed_volume:
#    external: true
networks:
 mbcore-network:
